---
title: "Verify Your Account"
date: 2018-06-11T13:16:35-04:00
draft: false
type: administrative
noindex: true
---

<div id="loader-cont"></div>

<form>
  <p class="mb-40">Please verify your account by clicking the button below:</p>

  <div class="field is-grouped is-grouped-centered">
    <div class="control">
      <button class="button cta-lg is-large rounded accent-btn raised is-link account-verify-btn">Click to Verify Account</button>
    </div>
  </div>
</form>
